.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    color:#ffc451;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: hsl(0, 2%, 12%);
}

.btn-outline-dark {
    color: #fff;
    border-color: #fff;
}

.btn-outline-dark:hover {
   background-color: hsl(0, 2%, 12%);
   border-color: #fff;
}
/*
2 */

#hero {
    width: 100%;
    height: 100vh;
    background: url(./images/pexels-ella-wei-6414304.jpg);
    background-size: cover;
    position: relative;
}

#hero:before{
   content: '';
   background: rgba(0, 0, 0, 0.6);
   position: absolute;
   bottom:0;
   left:0;
   right: 0;
   top: 0;
}

#hero .container {
    position: relative;
    padding-top: 175px;
}

#hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#hero h2 {
    margin: 10px 0 0 0;

    color: #fff;
    font-size: 24px;
}

#hero .icon-box h3{
    font-weight: 700;
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
}

#hero .icon-box h3 a{
    color:#fff;
}

#hero .icon-box h3 a:hover{
    color:#ffc451;
}

.icon-box {
    padding: 30px 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    height: 100%;
    text-align: center;
}

.icon-box:hover {
    border-color: #ffc451;
}

/*3 */

.about li{
    list-style-type: none;
}

/* 4 */

.cta {
    background: linear-gradient(rgba(2, 2, 2, .5), rgba(2, 2, 2, .8)), url(./images/pexels-ella-wei-6414304.jpg) fixed bottom center;
    padding: 80px 0;
    color: #fff;
}


.cta h3 {
    font-weight: 700;
    font-size: 28px;
}

.cta-btn {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
}

.cta-btn:hover {
    background: #ffc451;
    border-color: #ffc451;
    color: #151515;
}

/*5*/

.carousel-indicators{
    bottom: -80px;
    color: #000;

}

.carousel-indicators li{
    border-color: #151515;
    background-color: #151515!important;
}

.carousel-item .row{
    height: auto;

    width: 100%;
}

.carousel-item .row img{
    height: 60px;
    max-width: 120px;
}

/* 6 */

.team {
    padding: 60px;
}

.team .member{
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}

.team .member .member-img{
    position: relative;
    overflow: hidden;
}

.team .member .social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    opacity: 0;

    transition: ease-in-out .3s;
}

.team .member .social a {
    transition: color .3s;
    color: #151515;
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
     background:#151515;
    display: inline-block;
}

.team .member .social a:hover {
    background: #ffc451;
}

.team .member .member-info{
    padding: 25px 15px;
}

.team .member .member-info h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}

.team .member .member-info span{
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaa;
}

.team .member .member-info p{
    font-style: italic;
    line-height: 26px;
    font-size: 14px;
    color: #777;
}

.team .member:hover .social{
    opacity: 1;
    bottom: 15px;
}

/*7*/

.services .icon-box{
    border: 1px solid #afafaf;
    padding: 80px 20px;

    transition: all ease-in-out .3s;

}

.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

.services .icon-box .icon {
    margin: 0 auto;
    height: auto;
    width: 100px;
    background: #ffc451;
    border-radius: 5px;
    align-items: center;

    transition: .3s;
}

.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box p{
    line-height: 24px;
    font-size: 14px;

}

/* 8 */

.contact .info .info-icon {
    background: #ffc451;
    width: 44px;
    height: 44px;
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    float: left;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;

}

.contact .info p {
    padding: 0 0 0 60px;
    font-size: 14px;

}

.contact .info a {
    text-decoration: none;
}

.footer-top{
    background: #151515;
    border-bottom: 1px solid #222;
}

.footer-top .footer-info h3{
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-top .footer-info p {
    font-size: 14px;
    line-height: 34px;
    margin-bottom: 0;
}

.footer-top .social-link a{
    width: 36px;
    height: 36px;
    background: #292929;
    display: inline-block;
    margin: 6px 6px 0 0;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    transition: all .3s;
}

.footer-top .social-link a:hover{
  background: #ffc451;
}

.footer-top h4{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer-links a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.footer-links a:hover{
    color: #ffc451;

}

.footer form {
    margin-top: 30px;
    padding: 6px 10px;

}

.footer form input {
    border-radius: 6px;
}

.footer form input {

}

.footer-info strong{
    padding-right: 6px;
}

